body {
    background-color: #0E4C75;
    font-family: "Open Sans", sans-serif;
}

.logbox {
    display: grid;
    background-color: #3282B5;
    max-width: 400px;
    border-radius: 3px;
    justify-content: center ;
    margin: auto;
    box-shadow: 1px 0px 18px 14px rgba(0,0,0,0.31);
}

.first-a {
    margin-left: 10px ;
}

.logbox {
    padding: 10px;
    padding-left: 30px;
    margin-top: 300px;
    gap: 10px;
    
}

.logbutton {
    height: 25px;
    width: 190px;
    opacity: 80%;
    border-radius: 2px;
    border-style: none;
    margin-top: 5px;
    text-align: center;
    margin-left: 44px;
    
}

h1 {
    color: #B7E4FD;
    margin-right: 30px;
}

.button {
    background-color: #BCE0F7;
    margin-left: 44px;
    width: 195px;
    height: 30px;
    border-style: none;
    border-radius: 2px;
}

.back{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #8ED0F1;
}

label{
    color: #8ED0F1;
}


